<div class="svg-container">
    <svg width="1440" height="203" viewBox="0 0 1440 203" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M0 148.577L60 142.267C120 135.958 240 123.34 360 85.4837C480 47.6279 600 -15.4651 720 3.46283C840 22.3907 960 123.34 1080 148.577C1200 173.814 1320 123.34 1380 98.1023L1440 72.8651V300H1380C1320 300 1200 300 1080 300C960 300 840 300 720 300C600 300 480 300 360 300C240 300 120 300 60 300H0V148.577Z"
            fill="#6F24E9" />
        <path d="M0 160H1440V603H0V160Z" fill="#6F24E9" />
    </svg>
</div>


<footer>
    <div class="appInfo">
        
        <div class="columnsContainer flex-wrap">
            <div class="footerColumn logoColumn justify-content-between">
                <img class="logo" src="/assets/imgs/logo.png" alt="App Logo">
                <div>EJECT &copy; Algun Direitos Reservados</div>          
            </div>

            <div class="footerColumn">
                <h2>CONTATO</h2>

                <div class="columnContent">
                    <p>+55 21 99999-9999</p>
                    <p>contato@sabidinhos.com</p>
                </div>

                <div class="columnContent">
                    <p>Rua ali perto, 2000 - Candelária</p>
                    <p>Rio Grande do Norte - RN</p>
                </div>

                <div class="socialMedia">
                    <a href="https://instagram.com">
                        <img src="/assets/imgs/footer/instagram.png" alt="Instagram">
                    </a>

                    <a href="https://facebook.com">
                        <img src="/assets/imgs/footer/facebook.png" alt="Facebook">
                    </a>

                    <a href="https://youtube.com">
                        <img src="/assets/imgs/footer/youtube.png" alt="Youtube">
                    </a>
                </div>
            </div>

            <div class="footerColumn">
                <h2>INFORMAÇÕES</h2>

                <div class="columnContent">
                    <p>Exames Laboratoriais</p>
                    <p>Consultas Veterinarias</p>
                    <p>Plano PET de sáude</p>
                    <p>Quem somos?</p>
                </div>
            </div>            
        </div>
        
    </div>
</footer>