<footer>
    <div class="waveContainer">
        <img src="/assets/imgs/footer/wave.svg" alt="">
    </div>

    <div class="appInfo">
        <div class="columnsContainer">
            <div class="footerColumn logoColumn">
                <img class="logo" src="/assets/imgs/logo.png" alt="App Logo">

                <div>EJECT &copy; Algun Direitos Reservados</div>
            </div>

            <div class="footerColumn">
                <h2>CONTATO</h2>

                <div class="columnContent">
                    <p>+55 21 99999-9999</p>
                    <p>contato@sabidinhos.com</p>
                </div>

                <div class="columnContent">
                    <p>Rua ali perto, 2000 - Candelária</p>
                    <p>Rio Grande do Norte - RN</p>
                </div>

                <div class="socialMedia">
                    <img src="/assets/imgs/footer/instagram.png" alt="Instagram">
                    <img src="/assets/imgs/footer/facebook.png" alt="Facebook">
                    <img src="/assets/imgs/footer/youtube.png" alt="Youtube">
                </div>
            </div>

            <div class="footerColumn">
                <h2>INFORMAÇÕES</h2>

                <div class="columnContent">
                    <p>Exames Laboratoriais</p>
                    <p>Consultas Veterinarias</p>
                    <p>Plano PET de sáude</p>
                    <p>Quem somos?</p>
                </div>
            </div>
        </div>
    </div>

</footer>