<footer class="pt-5 pb-2 ps-5">

    <div class="wave-container">
        <svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
            <path fill="#6F24E9" fill-opacity="1" d="M0,128L60,160C120,192,240,256,360,256C480,256,600,192,720,186.7C840,181,960,235,1080,240C1200,245,1320,203,1380,181.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        </svg>
    </div>

    <div id="footer-info" class="d-flex flex-wrap col-md-12 ms-lg-5 mb-4">
        <div class="col-lg-2 col-12 mb-5 text-lg-start text-center">
            <img src="../desafio-eject-front-end/assets/imgs/logo.png" alt="Logo" class="logo img-fluid">
        </div>

        <div class="col-lg-3 col-12 mb-4 text-lg-start text-center ms-md-5">
            <h3>CONTATO</h3>
            <div>
                <p>
                    +55 21 99999-9999 <br>
                    contato@sabidinhos.com
                    <br><br>
                    Rua ali perto, 2000 - Candelária <br>
                    Rio Grande do Norte - RN
                </p>
                <div class="social-media mb-3">
                    <i class="fa-brands fa-instagram float-left"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-12 mb-4 text-lg-start text-center ms-md-5">
            <h3>INFORMAÇÕES</h3>
            <div>
                <p>Exames Laboratoriais</p>
                <p>Consultas Veterinárias</p>
                <p>Plano PET de saúde</p>
                <p>Quem somos?</p>
            </div>
        </div>
    </div>
    
    <p class="text-lg-start text-center ms-lg-5">EJECT &copy; Alguns direitos reservados.</p>
</footer>
