<nav class="navbar navbar-expand-lg navbar-light mx-md-5 mt-2 px-md-5">
    <div class="container-fluid flex-row justify-content-between">
        <a class="navbar-brand col-md-3 col-7" href="#">
            <img src="assets/imgs/logo.png" alt="Logo" class="logo img-fluid">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto w-md-100 flex-column flex-lg-row justify-content-lg-between">
                <li class="nav-item px-md-2 py-md-1 ms-2 text-center w-md-100">
                    <a class="nav-link text-light active" href="#" onclick="navigate('home', this)">home</a>
                </li>
                <li class="nav-item px-md-2 py-md-1 ms-2 text-center w-md-100">
                    <a class="nav-link text-light" href="#" onclick="navigate('videos', this)">vídeos</a>
                </li>
                <li class="nav-item px-md-2 py-md-1 ms-2 text-center w-md-100">
                    <a class="nav-link text-light" href="#" onclick="navigate('forum', this)">fórum</a>
                </li>
                <li class="nav-item px-md-2 py-md-1 me-2 text-center w-md-100">
                    <a class="nav-link text-light" href="#" onclick="navigate('parents', this)">pais & profs</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
