<div class="d-flex justify-content-between align-items-center mt-3 mx-5">
    <img src="../../project/imgs/logo.png" alt="Logo" class="logo img-fluid">

    <nav>
        <ul class="d-flex">
            <li><a href="#" onclick="navigate('home')">home</a></li>
            <li><a href="#" onclick="navigate('videos')">vídeos</a></li>
            <li><a href="#" onclick="navigate('forum')">fórum</a></li>
            <li><a href="#" onclick="navigate('parents')">pais & profs</a></li>
        </ul>
    </nav>
</div>