@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&family=DM+Sans+Display:ital,wght@1,400&family=Montserrat:wght@400&display=swap');

:root {
    --primary-color: #704EEA;    
    --secondary-color: #DFC8FE;    
    --accent-color: #FFD900;    
    --highlight-color: #FFD25B;    
    --background-color: #FFF3A9;    
    --custom-pink: #E924AE;
    --custom-orange: #F19436;
    --custom-text-color: #0A0430;
}

body {
    font-family: 'DM Sans', sans-serif;    
    margin: 0;
    padding: 0;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
    /* Usar a variável secundária */
}

.accent-color {
    color: var(--accent-color);
    /* Usar a variável de destaque 1 */
}

.highlight-color {
    color: var(--highlight-color);
    /* Usar a variável de destaque 2 */
}

.custom-pink {
    color: var(--custom-pink);
    /* Usar a cor personalizada rosa */
}

.custom-orange {
    color: var(--custom-orange);
    /* Usar a cor personalizada laranja */
}

h3,
p {
    font-family: 'Montserrat', sans-serif;
    /* Usar Montserrat para títulos */
}

.italic {
    font-family: 'DM Serif Display', sans-serif !important;
    /* Usar DM Sans Display Italic para texto itálico */
    font-style: italic;
}

ul {
    list-style-type: none;
}

nav ul {
    background-color: var(--primary-color);
    border-radius: 100px;
}

nav ul li {
    margin-right: 25px;
    font-size: 16px;
    padding: 10px;
    line-height: 35px;
}

a, a:hover {
    color: white;
    text-decoration: none;    
}

nav a:hover {    
    font-weight:800;
}

.logo {
    width: 190px;    
    /* height: auto; */
}

.wave-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-container svg {
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100px; /* Altura da onda */
}


footer {
    background-color: #6F24E9;  
    position: relative;   
    padding-top: 0;
}

footer h3, footer p {
    color: white;
}

footer h3 {    
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 500;
}

footer p {    
    font-size: 18px;
    font-weight: 400;
}

#footer-info {
    padding-top: 100px;
}

.social-media i {
    margin-right: 25px;
    font-size: 23px;
    color: white;
}